# Base requirements
numpy
#trimesh[easy]  # installs rtree, which fails in gh CI
shapely[vectorized]
svgwrite
pathos
tqdm

# Testing requirements
pytest
coverage

# Examples requirements
matplotlib
pywavefront

# Dev/test requirements
black
isort
mypy